site_name: CTO Django Training
site_description: Luca Store

repo_url: https://github.com/Telefonica/cto-django-training
site_dir: site


# Configuration
theme:
  name: 'material'
  favicon: 'assets/ic_store_black_24dp_2x.png'
  logo:
    icon: 'store'
  language: 'en'
  palette:
    primary: 'indigo'
    accent: 'indigo'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  feature:
    tabs: true
# Extensions
markdown_extensions:
  - admonition
  - footnotes
  - codehilite:
      linenums: true
  - toc:
      permalink: true

  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Extra
extra:
  search:
    language: 'en'

extra_css:
  - 'stylesheets/extra.css'

nav:
 - Abstract: 'index.md'
 - 1. Introduction: 'introduction.md'
 - 2. Model: 'model.md'
 - 3. Views: 'views.md'
 - 4. Testing: 'testing.md'
